* {
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

/* .header-container, .main-container, .footer-container{
max-width: 1000px;
margin: 0 auto; 
width: 100%;
} */

{}

.top_header_container {
background-color: #ADD8E6;
height: 100px;
display: flex;
padding: 30px;
flex-direction: row;
justify-content: center;
line-height: 35px;
}

.header_logo, .header_login{
width: 20%;
background-color: #DAA520;
display: flex;
border: 2px dashed black;
}

.header_link{
width: 30%;
display: flex;
justify-content: center;
background-color: #DAA520;
border: 2px dashed black;

}

.header_logo{
justify-content: flex-start;
}

.header_login{
justify-content: flex-end;
}


.base_button_header{
background-color: #00008B;
height: 400px;
padding: 50px;
padding-left: 60px;
padding-right: 60px;
}

.content {
background-color: #EE82EE;
height: 300px;
border: radius 5px;
border: 2px dashed black;
}
    
    

