* {
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

/* .container{
max-width: 1000px;
margin: 0 auto; 
width: 100%;
} */

.top_header_container {
background-color: #ADD8E6;
height: 100px;
display: flex;
padding: 30px;
flex-direction: row;
justify-content: center;
line-height: 35px;
}

.header_logo, .header_login{
width: 20%;
background-color: #DAA520;
display: flex;
border: 2px dashed black;
}

.header_link{
width: 30%;
display: flex;
justify-content: center;
background-color: #DAA520;
border: 2px dashed black;
}

.header_logo{
justify-content: flex-start;
}

.header_login{
justify-content: flex-end;
}


.base_button_header{
background-color: #00008B;
height: 500px;
padding: 50px 50px;
padding-left: 60px;
padding-right: 60px;
}

.content {
background-color: #EE82EE;
height: 400px;
border: radius 5px;
border: 2px dashed black;
}
    
{}

.main_container_part1, .main_container_part2, .main_container_part3 {
display: flex;
flex-direction: row;
height: 500px;
background-color: white;
align-items: center;
padding: 50px;
}

.aside-left{
background-color: #1E90FF;
height: 400px;
width: 80%;
display: flex;
border: 2px dashed black;
}


.aside-right{
background-color: #FFC0CB;
height: 400px;
width: 20%;
display: flex;
border: 2px dashed black;
}


.main_container_part2{
background-color: lightgrey;
flex-direction: row-reverse;
}


.main_container_part4{
background-color: lightgrey;
padding: 50px;
}

.green-container{
height: 400px;
background-color: green;
}
    

